@import "./function.scss";
@import "./var.scss";
.Tit {
  @include backAndBox;
  & > h3 {
    @include tit;
    padding: 0 0 8px 0;
  }
  & > span {
    font-size: 13px;
    opacity: 0.5;
  }
}
.pre {
  @include pre;
}
.ts {
  font-size: 15px;
  opacity: 0.6;
  padding: 8px 0 0 0;
  display: inline-block;
}
.zms-keyword {
  color: $green;
  display: inline-block;
}
.zms-def {
  color: $green;
  padding: 8px 0;
  display: inline-block;
  &:last-child {
    padding: 0 0 8px 0;
  }
}
.mobileBody {
  height: auto;
}
.szmdx {
  text-transform: capitalize;
}
