@import "./var.scss";
@mixin backAndBox {
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 4px $boxShadow;
  margin: 0 0 10px 0;
}
@mixin tit {
  font-weight: bold;
  font-size: 18px;
}
@mixin pre {
  display: block;
  background: $preBgColor;
  border: 1px solid $borderColor;
  border-radius: 6px;
  line-height: 24px;
  margin: 8px 0;
  padding: 20px 0;
  overflow-x: auto;
  word-break: break-all;
  white-space: pre-wrap;
  color: $codeColor;
  font-family: Source Code Pro, Monaco, Inconsolata, monospace;
}

@mixin jt {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-right: 1px solid #888;
  border-top: 1px solid #888;
  transform: rotate(45deg);
}

@mixin btn {
  width: 160px;
  height: 45px;
  background: #fff;
  border: 1px solid #ededed;
  color: #333;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

@mixin btnBox {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}